<div class="tab main" data-group="primary" data-tab="main">
    <!-- TOGGLES -->
    <div id="toggles" class="section-container">
        <div class="section-header">
            <h4>{{ localize 'PF2E.TogglesLabel' }}</h4>
        </div>
        <div class="section-body actions-options">
            {{#each actor.data.toggles.actions as |toggle idx|}}
                <div class="actions-option">
                    <label data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
                        <input type="checkbox" name="{{toggle.inputName}}" {{checked toggle.checked}}>
                        <span>{{localize toggle.label}}</span>
                    </label>
                </div>
            {{/each}}
        </div>
    </div>
    <div id="top-sections">
        <div id="ability-scores" class="section-container">
            <div class="section-header">
                <h4>{{ localize 'PF2E.AbilityScoresHeader' }}</h4>
            </div>
            <!-- ABILITY SCORES -->
            <div class="section-body">
                <div class="ability-scores-list">
                    {{#each data.abilities as |ability id|}}
                    <div class="labelled-field" data-attribute="{{id}}">
                        <label class="rollable"><a>{{ ability.localizedCode }}</a></label>
                        <input class="modifier{{#if (gte ability.mod 0)}} not-negative{{/if}}" type="number" name="data.abilities.{{id}}.mod" value="{{ability.mod}}" data-dtype="Number" placeholder="0"/>
                        <span class="plus{{#if (lt ability.mod 10)}} lt10{{/if}}"></span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- SENSES -->
        <div id="senses" class="section-container">
            <div class="section-header">
                <h4>{{ localize 'PF2E.NPC.SensesLabel' }}</h4>
            </div>
            <div class="section-body">
                <div id="perception" class="labelled-field" data-attribute="perception">
                    <label class="attribute-label rollable"><a>{{ localize "PF2E.PerceptionLabel" }}</a></label>
                    <input class="modifier{{#if (gte data.attributes.perception.value 0)}} not-negative{{/if}}{{#if (gt data.attributes.perception.totalModifier data.attributes.perception.base)}} positive-modifier{{/if}}{{#if (lt data.attributes.perception.totalModifier data.attributes.perception.base)}} negative-modifier{{/if}}" type="number" name="data.attributes.perception.value" value="{{ data.attributes.perception.value }}" data-base-property="data.attributes.perception.base" data-display-value="{{ data.attributes.perception.value }}" data-dtype="Number" placeholder="0"/>
                    <span class="plus{{#if (lt data.attributes.perception.value 10)}} lt10{{/if}}"></span>
                </div>
                {{# if options.editable }}
                <input name="data.traits.senses.value" type="text" value="{{ data.traits.senses.value }}" title="{{ data.traits.senses.value }}" data-dtype="String" placeholder="Special Senses"/>
                {{else}}
                <span>{{ data.traits.senses.value }}</span>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- SKILLS -->
    <div id="skills" class="section-container">
        <div class="section-header">
            <h4>{{ localize 'PF2E.SkillsLabel' }}</h4>
            {{# if options.editable }}
                <div class="skills-controls controls" for="data.skills">
                    <a class="skills-edit edit" data-options="skill" title="{{ localize 'PF2E.NPC.EditSkills' }}"><i class="fas fa-edit"></i></a>
                </div>
            {{/if}}
        </div>
        <div class="section-body">
            <div class="skills-list">
                {{#each data.sortedSkills as |skill id|}}
                    {{#if skill.visible }}
                        <div class="skill-entry tag" data-skill="{{id}}">
                            <a class="rollable">{{skill.label}} {{numberFormat skill.value decimals=0 sign=true}}</a>
                            {{#if skill.variants}}
                                {{#each skill.variants as |variant variantId|}}
                                    <a class="rollable variant" data-skill="{{id}}" data-options="{{variant.options}}">({{ variant.label }})</a>
                                {{/each}}
                            {{/if}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <!-- ATTACKS -->
    <div id="attacks" class="section-container">
        <div class="section-header">
            <h4>{{ localize 'PF2E.NPC.Attacks'}}</h4>
                {{# if options.editable }}
                <div class="attacks-controls controls">
                    <a class="attack-add item-create" data-type="melee" data-action-type="melee"><i class="fas fa-plus"></i> {{localize 'PF2E.NPCAttackMelee'}}</a>
                    <a class="attack-add item-create" data-type="melee" data-action-type="ranged"><i class="fas fa-plus"></i> {{localize 'PF2E.NPCAttackRanged'}}</a>
                </div>
                {{/if}}
        </div>
        <div class="section-body">
            <ol class="attacks-list item-list">
                {{#each attacks as |attack index|}}
                    {{> 'systems/pf2e/templates/actors/npc/partials/npc-attack.html' action=attack.attack traits=attack.traits actionId=index isEditable=../options.editable }}
                {{/each}}
            </ol>
        </div>
    </div>
    <!-- ACTIONS -->
    <div id="actions" class="section-container">
        <div class="section-header">
            <h4>{{ localize 'PF2E.ActionActionsLabel'}}</h4>
            {{# if options.editable }}
                <div class="actions-controls controls">
                    <a class="action-add item-create" title="{{localize 'PF2E.NPC.AddAction'}}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i></a>
                </div>
            {{/if}}
        </div>
        <div class="section-body">
            <ol class="actions-list item-list">
                {{#each actions as |section sectionId|}}
                    {{#unless (eq sectionId 'passive')}}
                        {{#each section.actions as |action actionId|}}
                            {{> 'systems/pf2e/templates/actors/npc/partials/npc-action.html' action=action isEditable=../../options.editable }}
                        {{/each}}
                    {{/unless}}
                {{/each}}
            </ol>
        </div>
    </div>
    <!-- PASSIVES -->
    <div id="passives" class="section-container">
        <div class="section-header">
            <h4>{{ localize 'PF2E.NPC.PassivesLabel' }}</h4>
            {{# if options.editable }}
                <div class="actions-controls controls">
                    <a class="action-add item-create" title="{{ localize 'PF2E.NPC.AddPassive' }}" data-type="action" data-action-type="passive"><i class="fas fa-plus"></i></a>
                </div>
            {{/if}}
        </div>
        <div class="section-body">
            <ol class="actions-list item-list">
                {{#each actions as |section sectionId|}}
                    {{#if (eq sectionId 'passive')}}
                        {{#each section.actions as |action actionId|}}
                            {{> 'systems/pf2e/templates/actors/npc/partials/npc-action.html' action=action isEditable=../../options.editable }}
                        {{/each}}
                    {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>
