<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "PF2E.BrowserSearchPlaceholder"}}" title="{{localize "PF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "PF2E.BestiaryBrowserSearchHint"}}}
            </div>
            <dl id="sorter">
                <dt>{{localize "PF2E.BrowserSortyByLabel"}}:</dt>
                <dd><select class="null" name="sortorder">
                    <option value="true" selected>{{localize "PF2E.BrowserSortyByNameLabel"}}</option>
                    <option value="false">{{localize "PF2E.BrowserSortyByLevelLabel"}}</option>
                </select></dd>
            </dl>
        </div>
        <button class="clear-filters">{{localize "PF2E.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="sizefilter">
            <h3>{{localize "PF2E.BrowserFilterSizes"}}</h3>
            <dl style="display:none;">
                {{#each actorSize as |size key|}}
                <label><dt><input type="checkbox" name="actorsize-{{lower key}}"></dt><dd>{{localize size}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="alignmentfilter">
            <h3>{{localize "PF2E.BrowserFilterAlignments"}}</h3>
            <dl style="display:none;">
                {{#each alignment as |type key|}}
                <label><dt><input type="checkbox" name="alignment-{{lower key}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="traitfilter">
            <h3>{{localize "PF2E.BrowserFilterTraits"}}</h3>
            <dl style="display:none;">
                {{#each traits as |trait key|}}
                    <label><dt><input type="checkbox" name="traits-{{key}}"></dt><dd>{{localize trait}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="sourcefilter">
            <h3>{{localize "PF2E.BrowserFilterSource"}}</h3>
            <dl style="display:none;">
                {{#each source as |type key|}}
                <label><dt><input type="checkbox" name="source-{{lower type}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="raritiesfilter">
            <h3>{{localize "PF2E.BrowserFilterRarities"}}</h3>
            <dl style="display:none;">
                {{#each rarities as |rarity key|}}
                <label><dt><input type="checkbox" name="rarity-{{lower key}}"></dt><dd>{{localize rarity}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer rangecontainer" id="levelfilter">
          <h3>{{localize "PF2E.BrowserFilterLevels"}}</h3>
          <div style="display:none;">
              <input type="number" name="lowerBound-level" value="-1" min="-1" max="25">
              -
              <input type="number" name="upperBound-level" value="25" min="-1" max="25">
          </div>
        </div>
    </div>
    <ul>
        {{#each bestiaryActors as |actor id|}}
        <li class="spell flexrow draggable"
          data-entry-compendium="{{actor.compendium}}"
          data-entry-id="{{actor._id}}" data-actor-category="bestiaryActors"
            {{#each actor.filters as |attrib id|}}
                data-{{lower id}}="{{lower attrib}}"
            {{/each}}
          >
            <div class="spell-image">
                <img class="" src="{{actor.img}}" title="{{actor.name}}" width="32" height="32" loading="lazy"/>
            </div>
            <div class="spell-name">
                <span class="actor-edit" ><a>{{actor.name}}</a></span>
            </div>
            <div class="spell-tags">
                <span title="NPC level">{{actor.data.details.level.value}}</span>
            </div>
        </li>
        {{/each}}
    </ul>

</div>
